body {
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: serif;
  }

  #ggfont{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
  }
  
  .separator {
    margin: 3rem 0;
    border-bottom: 1px dashed #fff;
  }
  
  .text-uppercase {
    letter-spacing: 0.1em;
  }
  
  .text-gray {
    color: #aaa;
  }
  
  .vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
  }
  
  .page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
  }
  
  /* for toggle behavior */
  
  #sidebar{
    background-color: #141E30;
    text-align: center;
    margin: 0px;
    padding: 0px;
  }

  .rounded-circle{
    border: 3px solid bisque;
  }

  .navbar-nav{
    letter-spacing: 3px;
    line-height: 40px; 
    font-size: x-large;
  }

  #sidebar.active {
    margin-left: -17rem;
  }
  
  #content{
    color: #fff;
  }
  
  #content.active {
    width: 100%;
    margin: 0;
    color:darkgoldenrod;
  }
  
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -17rem;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #content {
      width: 100%;
      margin: 0;
    }
    #content.active {
      margin-left: 17rem;
      width: calc(100% - 17rem);
    }
  }

  .dev-icons{
    font-size: 300%;
    color:dimgrey;
    margin: 10px;
  }

  .dev-icons:hover{
    color:rgb(23, 104, 47);
  }
  